<h1>All Owners:</h1>

<% Owner.all.reject{|owner| owner.dogs.length == 0}.each do |owner| %>
  <h2><%= owner.name %>'s dogs:</h2>
  
   <%= render partial: 'dogs/owned_dogs', locals: {dogs: Dog.all} %>
   <%= render partial: 'dogs/stats', locals: {dogs: owner.dogs} %>
  <% end %>