<form action="/books" method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title">
    
    <input type="text" name="author" placeholder="Enter author">
    <input type="submit" value="Add a book">
</form>