<div id='main'>
  
  <div id='one'>
    <div>a</div>
    <div>b</div>
    <div>c</div>
    <div>d</div>
  </div>

  <div id='two' class='inactive'>I'm the header</div>
  <div id='three' class='inactive'>three</div>
  <div id='four' class='inactive'>four</div>
  <div id='five' class='inactive'>five</div>
  <div id='six' class='inactive'>six</div>
  <a>JUNGLES</a>

</div>


