<h1>Doctors list</h1>

<ul>
    <% @doctors.each do |doc| %>
        <li><%= doc.name %> - <%= doc.specialty %></li>
    <% end %>
</ul>

<%= link_to "Add doctor", new_doctor_path  %>
<%# link_to "Add a doctor", "/doctors/new"  %>